.wrapper-bg{
		background: $main-bg-gradient;
		// background-size: cover;
		width: 100%;
	}
	.footer{
	@include flex-col(space-between, flex-start);
	color: $inverse-color;
	ul{
		@include flex-row(space-between, center);
		padding-left: 0;
		width: 100%;
		li{
				list-style: none;
			}
	}
	a{
		color: $inverse-color;
		text-decoration: none;
	}

	.block-top{
		@include flex-row(space-between, flex-start);
		margin-top: 40px;
		.block-info{
			@include flex-col(space-between, flex-start);
			width: 30%;
			.logo{
				.icon-logo:before{
					font-size: 128px;
					line-height: 90px;
					background: $main-icon-gradient;  /* подробнее про градиенты */ 
	  			-webkit-background-clip: text;  /* подробнее про background-clip */ 
	  			color: transparent;
	  			padding-left: 5px; 
				}
			}
		}	
		.block-contact{
			@include flex-col(space-betwen, flex-start);
			width: 30%;
			.h2{
				margin: 45px 0 40px 0;
			}
		}
		.block-social{
			.h2{
				margin: 45px 0 40px 0;
			}
			input{
				width:70%;
			}

			@include flex-col(space-betwen, flex-start);
			width: 30%;
		}

	}
	.block-bottom{
		@include flex-row(space-between, center);
		.block-menu{
			width: 40%;
			min-width:310px;
			@include flex-row(space-between, center);
		}

	}

}