.header{
	background: $main-bg-gradient;
	>.wrapper-mini{
		@include flex-row(space-between, center);
		opacity: 0.85;
		overflow: hidden;
		.logo{
			.icon-logo:before{
				font-size: 128px;
				line-height: 90px;
				background: $main-icon-gradient;  /* подробнее про градиенты */ 
  			-webkit-background-clip: text;  /* подробнее про background-clip */ 
  			color: transparent;
  			padding-left: 5px; 
			}
			
		}
	}
	.menu{
		@include flex-row(space-between, center);
		@media screen and (max-width: 705px) {
    display: none;
   }
		ul{
			@include flex-row(space-between, center);
			margin: 0;
			padding: 0;
			align-items: center;
		}	
			li{
				// align-items: center;
				list-style: none;
				
				padding: 10px 0;
				a{
					color: $inverse-color;
					text-decoration: none;
					font-family: Roboto;
					font-size: 13px;
					font-weight: 900;
					text-transform: uppercase;
					padding: 10px;
				}
				&:hover a{
					color: $main-color;
				}				
			}
		}
}